# Ignore test scripts
/shower/tests
/wheelchair/tests
test.py
train_voice_recognition.py
/wheelchair
# Make sensetive config files invisible
/configs
/commands_eng.json
/commands.json
/script_log.txt
/shower/shower_state.py
/test_regs.py
/user_info.txt
/shower/workflows.json
/venv
/roboteq
/shower/db_accessor.py
